@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Home page</h1>
        <form method="post">
            <div>
               Please try to get into the privacy page by clicking on the below button , it will use a serverside redirection .
            </div>
            <div>
                <button type="submit">server-side redirect to the "Home\Privacy" page</button>
            </div>

        </form>
      

    </div>
