@{
    ViewData["Title"] = "redirection & Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You landed succesfully on the Privacy page !</p>

@{

    <div style="margin-top:30px;">
        <form method="post">
            <div>
                <button type="submit">server-side redirect to the "Home\Index" page</button>
            </div>

        </form>
        
    </div>

}
